#root {
  color: black;
  font-size: large;
  font-weight: 500;
}

.submenu {
  display: none;
  background-color: whitesmoke;
  font-size: medium;
  font-weight: lighter;
  padding-left: 90px;
}

ul {
  cursor: pointer;
  list-style-type: none;
  }


